@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.banner-container {
    position: relative;
    width: 1280px;
    height: 500px;
    background-color: white;
    top: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    white-space: nowrap;
    padding: 15px;
}

.banner-image {
    width: 1280px;
    height: 500px;
    border-radius: 12px;
    filter: brightness(0.7);
    z-index: 500;
}

.inner-item{
    position: absolute;
    width: 1080px;
    top: 290px;
    text-align: right;
    right: 60px;
}

.banner-name {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    z-index: 600;
    color: white;
    margin-bottom: 20px;
}

.banner-recipe {
    align-items: center;
    padding: 17px 22px;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background: #444444;
    border: 2px solid #6A6A6A;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
}

.banner-counter-container{
    margin-right: 15px;
    right: 20px;
}

.banner-counter{
    font-size: 35px;
    color: #c0c0c0;
    align-items: center;
    display: inline-flex; 
    align-items: flex-end;
    justify-content: center;
}

.banner-counter-number {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

