@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.category-container{
    position: relative;
    width: 100%;
    white-space: nowrap;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.category-item{
    padding: 10px 70px;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid rgb(104, 104, 104);
}

.category-item:last-child{
    margin-right: 0px;
}

.category-item:hover{
    border-bottom: 3px solid black;
}

.category-item.selected{
    border-bottom: 3px solid black !important;
}