@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    position: relative;
    width: 1280px;
    background: #FFFFFF;
    font-family: 'GangwonEdu_OTFBoldA';
    padding-top: 60px;
    align-items: center;
    left: calc(50% - 1280px/2);
    flex-direction: column;
}

.category{
    position: relative;
    width: 100%;
    top: 10px;
}

.searchbar{
    position: relative;
    top: 30px;
}

.banner{
    position: relative;
    top: 30px;
}


.theme-container{
    margin-top: 280px;
}

.recommendation-theme{
    position: relative;
    width: 1280px;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
}

.nearby-restaurant{
    position: relative;
    width: 1280px;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
    top: 150px;
}

.recipe{
    position: relative;
    width: 1280px;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
    top: 50px;
}

.restaurant-container{
    position: relative;
    width: 1280px;
    min-width: 1024px;
    max-width: 100%;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    top: 160px;
}

.menu-container{
    position: relative;
    width: 1280px;
    min-width: 1024px;
    max-width: 100%;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    top: 20px;
}

.footer{
    height: 200px;
}