@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100vw;
    min-width: 1024px;
    overflow-x: auto;
    font-family: 'GangwonEdu_OTFBoldA';
    padding-top: 180px;
}

.recommendation-theme{
    position: relative;
    width: 60vw;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
    top: 80px;
}

.nearby-restaurant{
    position: relative;
    width: 60vw;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
    top: 140px;
}

.recipe{
    position: relative;
    width: 60vw;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
    top: 280px;
}

.restaurant-container{
    position: relative;
    width: 60vw;
    min-width: 1024px;
    max-width: 100%;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    top: 160px;
}

.menu-container{
    position: relative;
    width: 60vw;
    min-width: 1024px;
    max-width: 100%;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    top: 280px;
}