@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100vw;
    min-width: 1024px;
    overflow-x: auto;
    font-family: 'GangwonEdu_OTFBoldA';
    padding-top: 150px;
}

.recommendation-theme{
    position: relative;
    width: 60vw;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
    top: 40px;
}

.nearby-restaurant{
    position: relative;
    width: 60vw;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
    top: 100px;
}

.recipe{
    position: relative;
    width: 60vw;
    min-width: 1024px;
    max-width: 100%;
    white-space: nowrap;
    padding: 15px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    font-size: 30px;
    top: 400px;
}