@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 30px 180px;
    align-items: center;
    height: 100px !important; 
    z-index: 1000;
    box-sizing: border-box;
    background-color: white;
}


.logo-title{
    height: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    font-family: 'LOTTERIACHAB' !important;
    color: #333333;
    text-decoration: none;
}

.login{
    text-decoration: none;
    margin-right: 50px;
    width: 36px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #333333;
}

.membership{
    width: 48px;
    height: 24px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #333333;
}

.login:hover,
.membership:hover {
    text-decoration: underline solid black;
}

.login-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout{
    font-size: 23px;
    background-color: transparent;
    border: none;
    font-family: 'GangwonEdu_OTFBoldA';
    color: rgb(189, 28, 28);
    cursor: pointer;
}

.logout:hover{
    text-decoration: underline solid rgb(189, 28, 28);
}

/*드롭다운*/
.nav-dropdown{
    position: relative;
    z-index: 1000;
}


.dropdown-toggle {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 23px;
    font-family: 'GangwonEdu_OTFBoldA';
    width: 150px;
}

.dropdown-toggle::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -2px;
    width: 0;
    height: 2px; 
    background-color: black;
  }
  
  .dropdown-toggle:hover::after {
    width: 80%; 
  }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 5%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: block;
    width: 110px;
}
  
.dropdown-menu li {
    padding: 10px;
}
  
.dropdown-menu li a {
    text-decoration: none;
    color: #333;
}
  
.dropdown-menu li a:hover {
    border-bottom: 1px solid #333;
}