.recipe-main{
    position: relative;
    top: 200px;
    width: 80vw;
    display: flex;
}

.food-image{
    position: relative;
    width: 536px;
    height: 536px;
    border-radius: 8px;
    display: block;
}

.bookmark-icon {
    position: absolute; 
    top: 15px; 
    left: 495px; 
    font-size: 30px; 
    color: white; 
    cursor: pointer; 
}

.food-container{
    margin-left: 80px;
    margin-right: 30px;
}

.food-name{
    font-size: 40px;
    font-weight: bold !important;
    margin-top: 30px;
}

.required-materials, .kcal{
    margin-top: 50px;
}

.star-rating {
    display: flex;
    align-items: center; 
    margin-top: -20px;
}

.stars {
    display: flex; 
    margin-right: 5px; 
}

.review-count {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 7px;
}

/*레시피 정보*/
.how-to-make{
    position: relative;
    top: 250px;
}

.manual-image{
    border-radius: 8px;
    width: 250px;
    height: 250px;
    margin-top: 30px;
}

/*리뷰*/
.recipe-review-container{
    position: relative;
    top: 300px;
}

.input-review{
    width: 100%;
    height: 150px;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 20px;
}

.review-button {
    position: absolute;
    margin-top: 10px;
    right: 0;
    border-radius: 4px;
    padding: 5px 15px;
    color: #999999;
    border: 1px solid #999999;
    background: #EBEBEB;
    cursor: not-allowed;
}

.review-button.active {
    background-color: #2D2D2D;
    color: white;
    cursor: pointer;
    border: none;
}

.reviews-container{
    position: relative;
    top: 80px;
}

.review-writer-container{
    display: flex;
    font-size: 20px;
    margin-top: 30px;
}

.review-score{
    margin-left: 15px;
}

.review-date{
    margin-left: auto;
    color: #999999;
    font-size: 18px;
}

.review-content{
    margin-top: 0px;
}

.full-review-container{
    display: flex;
    justify-content: flex-end;
}

.view-full-review{
    color: #999999;
    text-decoration: none;
    margin-top: 50px;
}

.view-full-review .arrow {
    font-size: 15px;
    margin-left: auto;
  }

/*음식점*/
.related-restaurant{
    position: relative;
    top: 450px;
}