
.search-container{
    position: fixed; 
    top: 100px;
    left: 50%; 
    transform: translateX(-50%);
    height: 160px;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.search-bar{
    position: absolute;
    font-size: 30px;
    text-decoration: none;
    padding: 20px 180px;
    border: 3px solid rgb(175, 175, 133);
    border-radius: 50px;
    color: rgb(160, 160, 160);
    background-color: beige;
    left: 50%;
    top: 25%;
    height: 30px;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.search-icon{
    position: absolute;
    font-size: 35px;
    color: rgb(160, 160, 160);
    right: calc(50% - 190px);
    top: calc(25% + 35px);
    transform: translateX(50%) translateY(-50%);
    z-index: 1000;
}