.search-container{
    position: relative; 
    left: 50%; 
    transform: translateX(-50%);
    height: 160px;
    width: 100%;
    z-index: 800;
}

.search-text{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.search-bar{
    position: absolute;
    text-decoration: none;
    padding: 20px 70px;
    background-color: white;
    left: 50%;
    top: 35%;
    width: 640px;
    height: 55px;
    transform: translateX(-50%);
    z-index: 1000;
    box-sizing: border-box;
    border: 2px solid #C0C0C0;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #333333;
}

.search-icon{
    position: absolute;
    font-size: 30px;
    color: rgb(160, 160, 160);
    left: calc(50% - 310px);
    top: calc(25% + 43px);
    transform: translateX(50%) translateY(-50%);
    z-index: 1000;
}