.slider-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .theme-slider-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden; 
    position: relative; 
    height: 770px; 
  }
  
  .slide-content {
    position: relative;
    height: 100%;
  }
  
  .slide {
    width: 22%; 
    height: 350px;
    margin: 10px;
    position: absolute; 
    overflow: hidden;
    transition: width 0.5s ease, transform 0.5s ease;
    z-index: 1; 
    border-radius: 15px;
  }
  
  .slide:nth-child(1) { left: 0; } 
  .slide:nth-child(2) { left: 25.5%; } 
  .slide:nth-child(3) { left: 51.5%; } 
  .slide:nth-child(4) { left: 77%; } 

  /* 마지막 슬라이드는 왼쪽으로 확장 */
  .slide:nth-child(4):hover {
    width: calc(2 * 22% + 50px);
    z-index: 10;
    transform: translateX(-53%);
  }
  
  .slide-box {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F6;
    cursor: pointer;
    transition: width 0.5s ease;
    border-radius: 15px;
  }
  
  .slide-image-container {
    width: 100%;  /* 이미지가 처음에 보이는 영역 */
    height: 100%;
    overflow: hidden;
    transition: width 0.5s ease;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    transition: all 0.5s ease;
}

/* 마우스를 올리면 슬라이드가 오른쪽으로 확장되며 텍스트가 나타남 */
.slide:hover {
    width: calc(2 * 22% + 50px);
    z-index: 10;
}

.slide:hover .slide-text-box {
    width: 47%;
    background-color: rgba(0,0,0,0.8);
}

.slide:hover .slide-image-container {
    width: 53%;
}

.slide-text-box {
    width: 0;  /* 처음에는 텍스트가 보이지 않음 */
    height: 350px;
    transition: width 0.5s ease;
}

.slide-text {
    color: white;
    font-size: 26px;
    font-weight: bold !important;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    padding-top: 10px;
}